{% extends 'base.html' %}

{% block content %}

<div class="py-2">
    <h1 class="col-6 col-md-3 mx-auto py-2 mt-8 text-center text-light rounded custom-page-header">
        Create a club
    </h1>

    <img class="vector-container-1 w-100" src="/static/RedVector1.png" alt="Red Vector">

    <div class="card col-7 mx-auto mt-8 mb-8">
        <div class="card-body p-5">
            <h5 class="card-title">Create a club</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Fill out this form to submit a request to create a club</h6>
            <form method="POST" action="/sign_ups">
                <div class="my-4">
                    <p class="card-text">Full Name</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="full_name" id="" required>
                </div>
                <div class="my-4">
                    <p class="card-text">School Email</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="email" id="" required>
                </div>
                <div class="my-4">
                    <p class="card-text">Provide a brief description of the club that you want to create</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="description" id="" required>
                </div>
                <div class="my-4">
                    <p class="card-text">What leadership skills do you have?</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="why_desc" id="" required>
                </div>
                <div class="my-4">
                    <p class="card-text">Will you be able to lead every meeting?</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="availability_desc" id="" required>
                </div>

            <button type="submit" class="btn custom-button">Sign Up</button>

            </form>
        </div>

        <div class="d-none d-xxl-block col-4 position-absolute enquiry-image">
            <img class="w-100" src="/static/westlakeshield.png" alt="westlake logo">
        </div>
    </div>

</div>

{% endblock %}