{% extends 'base.html' %}

{% block content %}

<div class="vector-container-1 h-100 w-100">
    <img class="w-100" src="/static/RedVector1.png" alt="Red Vector">
</div>

<div class="py-2">

    <h1 class="col-8 col-md-6 col-lg-4 col-xl-3 mx-auto py-2 custom-mt custom-mb text-center text-light rounded custom-page-header">
        Enquiries
    </h1>

    <img class="sign_ups_redvector w-100" src="/static/RedVector1.png" alt="Red Vector">

    {% if submit == True %}
    <div class="col-6 col-xl-3 mx-auto enquiry-notif fs-5 text-light mb-3 text-center">
        <p>Your enquiry has been sent through.</p>
    </div>
    {% endif %}

    <div class="card col-10 col-xl-7 mx-auto custom-mb">
        <div class="card-body p-5">

            <h5 class="card-title">Enquiries</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Fill out this form to sign up for a club</h6>

            <form method="POST" action="/enquiries">
                <div class="my-4">
                    <p class="card-text">Email</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="email" id="">
                </div>
                <div class="my-4 scroll-container">
                    <textarea class="col-12 col-xxl-6 col-sm-10 px-3" placeholder="Max 300 words..." name="enquiry"></textarea>
                </div>

            <button type="submit" class="btn custom-button">Send</button>

            </form>
        </div>

        <div class="d-none d-xxl-block col-4 position-absolute enquiry-image">
            <img class="w-100" src="/static/westlakeshield.png" alt="">
        </div>
    </div>

</div>

{% endblock %}