{% extends 'base.html' %}
<!-- col-12 col-md-7 col-lg-4 -->
{% block content %}
<body class="index_body">
    <main>

    <section class="position-relative">
        <img src="/static/hero_image.jpg" alt="fixed_image" class="fixed_img">
            <div class="position-absolute bg-light bg-opacity-75 rounded p-3 text-center overlay col-3">
                <div class="fs-1">Westlake Clubs</div>
                <div class="fs-1 text-danger">2026</div>
            </div>
            <h1 
            class="col-3 mx-auto py-2 mt-5 text-center fs-2 text-light rounded custom-page-header autoShow">
            Welcome to the Westlake Clubs website!
            </h1>

    </section>

    <div class="autoShow card border-5 col-4 mx-auto mt-5 text-center index_card">
        <div class="card-body">
            <h5 class="card-title">One place to know all about clubs we have to offer</h5>
            <hr>
            <p>
                Westlake Clubs are at the heart of student life, offering a wide range of opportunities to get involved, meet new people, and develop new skills. Whether you're interested in sports, arts, academics, or social causes, there’s a club for everyone.

Our clubs are student-led and supported by staff, creating a space where ideas can grow and leadership can thrive. Joining a club is a great way to explore your passions, build confidence, and make the most of your time at Westlake.

Get involved, stay connected, and be part of something bigger.
            </p>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide autoshow" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

    

    </main>


</body>
{% endblock %}

