{% extends 'base.html' %}

{% block content %}
<body class="index_body">
    <main>

    <section class="position-relative">
        <img src="/static/hero_image.jpg" alt="fixed_image" class="fixed_img">
            <div class="position-absolute bg-light bg-opacity-75 rounded p-3 text-center overlay col-3">
                <div class="fs-1">Westlake Clubs</div>
                <div class="fs-1 text-danger">2026</div>
            </div>
            <h1 
            class="col-3 mx-auto py-2 mt-5 text-center fs-2 text-light rounded custom-page-header autoShow">
            Welcome to the Westlake Clubs website!
            </h1>

    </section>

    <div class="card border-5 col-6 mx-auto mt-5 text-center index_card">
        <div class="card-body">
            <h5 class="card-title">One place to know all about clubs we have to offer</h5>
        </div>
    </div>

    </main>

</body>
{% endblock %}

