{% extends 'base.html' %}

{% block content %}

<div class="py-2">
    <h1 class="col-6 col-md-3 mx-auto py-2 mt-8 text-center text-light rounded custom-page-header">
        Review a club
    </h1>

    <img class="sign_ups_redvector vector-container-1 w-100" src="/static/RedVector1.png" alt="Red Vector">

    <div class="card col-7 mx-auto mt-8 mb-8">
        <div class="card-body p-5">
            <h5 class="card-title">Sign Ups</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Fill out this form to sign up for a club</h6>
            <form method="POST" action="/review">
                <div class="my-4">
                    <p class="card-text">Full Name</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="full_name" id="" required>
                </div>
                <div class="my-4">
                    <p class="card-text">Email</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="email" id="" required>
                </div>
                <div class="my-4">
                    <p class="card-text">Select a Club</p>
                    <select class="col-12 col-xxl-6 col-sm-10 px-3 py-1 custom-input-bar" name="club" id="club">
                        {% for club in clubs %}
                            <option value="{{club.club_name}}" class="dropdown-item custom-dropdown-item-Ryan py-3">{{club.club_name}}</a>
                        {% endfor %}
                    </select>
                </div>
                <div class="my-4">
                    <p class="card-text">How was your experince in this club</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="club_experince" id="" required>
                </div>
                <div class="my-4">
                    <p class="card-text">Rating</p>
                    <fieldset>
                      <span class="star-cb-group">
                        <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                        <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
                        <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                        <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                        <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                      </span>
                    </fieldset>
                </div>

            <button type="submit" class="btn custom-button">Submit</button>

            </form>
        </div>

        <div class="d-none d-xxl-block col-4 position-absolute sign-up-image">
            <img class="w-100" src="/static/westlakeshield.png" alt="">
        </div>
    </div>

</div>
<script>
    var logID = 'log',
      log = $('<div id="'+logID+'"></div>');
    $('body').append(log);
      $('[type*="radio"]').change(function () {
        var me = $(this);
        log.html(me.attr('value'));
      });
        
</script>

{% endblock %}