{% extends 'base.html' %}

{% block content %}

<div class="vector-container-1 h-100 w-100">
    <img class="w-100" src="/static/RedVector1.png" alt="Red Vector">
</div>

<div class="py-2">
    <h1 class="col-8 col-md-6 col-lg-4 col-xl-3 mx-auto py-2 custom-mt custom-mb text-center text-light rounded custom-page-header">
        Registration Form
    </h1>

    {% if submit == True %}
    <div class="col-6 col-xl-3 mx-auto enquiry-notif fs-5 text-light mb-3 text-center">
        <p>Your form has been sent through.</p>
    </div>
    {% endif %}

    <div class="card col-10 col-xl-7 mx-auto custom-mb">
        <div class="card-body p-5">
            <h5 class="card-title">Sign Ups</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Fill out this form to sign up for a club</h6>
            <form method="POST" action="/sign_ups">
                <div class="my-4">
                    <p class="card-text">Full Name</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" placeholder="Please fill out this field..." name="full_name" id="" required>
                </div>
                <div class="my-4">
                    <p class="card-text">Email</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" placeholder="Please fill out this field..." name="email" id="" required>
                </div>
                <div class="my-4">
                    <p class="card-text">Club Interest</p>
                    <select class="col-12 col-xxl-6 col-sm-10 px-3 py-1 custom-input-bar" name="club" id="club">
                        {% for club in clubs %}
                            <option value="{{ club.club_name.strip().lower().replace(' ', '-') }}" class="dropdown-item custom-dropdown-item-Ryan py-3">{{club.club_name}}</a>
                        {% endfor %}
                    </select>
                </div>
                <div class="my-4">
                    <p class="card-text">Why do you want to join?</p>
                    <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" placeholder="Please fill out this field..." name="why_desc" id="" required>
                </div>
                <div class="my-4">
                    <p class="card-text">Will you be able to attend the meetings?</p>
                    <select class="col-12 col-xxl-6 col-sm-10 px-3 py-1 custom-input-bar" name="availability_desc" id="">
                        <option value="Yes" class="dropdown-item custom-dropdown-item-Ryan py-3">Yes</a>
                        <option value="No" class="dropdown-item custom-dropdown-item-Ryan py-3">No</a>
                    </select>
                </div>

            <button type="submit" class="btn custom-button">Sign Up</button>

            </form>
        </div>

        <div class="d-none d-xxl-block col-4 position-absolute sign-up-image">
            <img class="w-100" src="/static/westlakeshield.png" alt="">
        </div>
    </div>

</div>

{% endblock %}