{% extends 'base.html' %}

{% block content %}

<div class="bg-grey">
    <h1 class="col-3 mx-auto py-2 mt-5 text-center fs-2 text-light rounded custom-page-header">
        Registration Form
    </h1>

    <div class="card col-7 mx-auto mt-5">
        <div class="card-body p-5">
            <h5 class="card-title">Sign Ups</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Fill out this form to sign up for a club</h6>
            <div class="my-4">
                <p class="card-text">Full Name</p>
                <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="" id="">
            </div>
            <div class="my-4">
                <p class="card-text">Email</p>
                <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="" id="">
            </div>
            <div class="my-4">
                <p class="card-text">Club Interest</p>
                <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="" id="">
                <button class="btn dropdown-toggle dropdown-Ryan position-absolute navbar-toggler-icon" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu custom-dropdown-menu">
                    <li>
                        {% for club in clubs %}
                            <button type="button" class="dropdown-item custom-dropdown-item-Ryan py-3">{{club.club_name}}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="my-4">
                <p class="card-text">Why do you want to join?</p>
                <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="" id="">
            </div>
            <div class="my-4">
                <p class="card-text">Will you be able to attend the meetings?</p>
                <input class="col-12 col-xxl-6 col-sm-10 px-3 custom-input-bar" type="text" name="" id="">
            </div>
            
            <a href="#" class="btn custom-button">Sign Up</a>
        </div>
    </div>

</div>

{% endblock %}