{% extends 'Base.html' %}

{% block content %}
<div class="flex-fill">
    <table class="table table-borderless text-center align-middle w-100 h100">
        <thead>
            <tr>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
            </tr>
        </thead>
        <tbody>
            {% for week in cal %}
            <tr>
                {% for day in week %}
                    {% if day == 0 %}
                        <td>
                            <div class="card h100">

                            </div>
                        </td>
                    {% else %}
                    <td>
                        <div class="card h100">
                        
                        <div class="card-body">
                            <h3 class="h5 card-title mb-1">{{ day }}</h3>
                            <p class="text-muted mb-2">Drama - 2026</p>
                            <p class="card-text">
                                short review of the movie, this is just a placeholder text to show how the review will look like on the website.
                            </p>1
                        </div>
                            <div class="card-footer bg-white border-0 pt pb-3 px-3">
                                <span class="badge text-bg-warning">8/10</span>
                                <a href="#" class="btn btn-sm btn-outline-primary ns-2">Read More</a>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}