{% extends 'Base.html' %}

{% block content %}
<div class="flex-fill">
    <table class="table table-borderless text-center align-middle w-100 h100">
        <thead>
            <tr>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
            </tr>
        </thead>
        <tbody>
            
            {% for week in cal %}
            <!-- intalise count varibel  -->
            {% set count = namespace(value=0) %}

            <tr>
                {% for day in week %}
                    <!-- add one to count value -->
                    {% set count.value = count.value + 1 %}
                    {% if day == 0 %}
                        <td>
                            <div class="card h100">
                                <p></p>
                            </div>
                        </td>
                    {% else %}
                    <td>
                        

                        <div class="card h100">
                        
                        <div class="card-body">
                            <h3 class="h5 card-title mb-1">{{ day }}</h3>
                            {%for id, items in club_dic.items()%}
                                {%if items["club_day"] == count.value%}
                                
                                <p class="card">{{items["club_name"]}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                            <div class="card-footer bg-white border-0 pt pb-3 px-3">
                                <span class="badge text-bg-success">8/10</span>
                                <a href="#" class="btn btn-sm btn-outline-primary ns-2">Read More</a>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}